.img {
  border-radius: 50%;
  border: 2px solid black;
}


.border2{ 
  border-width: 1px;
border-bottom-style: solid;}
#EDECBB
#4CAF50

.bg{
background-color: #EDE0AF;
}

.bg2{
 background-image: url("../images/13787.jpg");
}

.body {
  background-color:  #EDDDA4;
}
.bg-main{
  background-color:  #EDECBB;
}





.padding1{
  padding-top: 30px;
  padding-right: 50px;
  padding-bottom: 30px;
  padding-left: 50px;
}

.padding2{
  padding-top: 20px;
  padding-right: 30px;
  padding-left: 30px;
}


.left {
  float: left;
   padding-top: 30px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

h4{ 
  font-family: 'Noto Sans Thai', sans-serif;
color: #152238;
}

p{font-family: 'Sarabun', sans-serif;
color: #333333;
}

h2{font-family: 'Prompt', sans-serif;
}

h6{font-family: 'Prompt', sans-serif;
}

